<launch>
  <include file="$(find ti_mmwave_rospkg)/launch/launch_1843AOP.launch">
        <arg name="device_number" value="2"/>
        <arg name="device_name" value="LX"/>
        <arg name="device_model" value="MMWAVE1843AOP"/>
	<arg name="robot_model" value="diff_robot"/>
	<arg name="punti_desiderati" default="200"/>
        <arg name="use_agglo" default="false"/>
        <arg name="use_lior" default="false"/>
        <arg name="take_sideinfo" default="false"/>
        <arg name="dist_InlierTh" default="0.2"/>
        <arg name="cdist" default="0.6"/>
  </include>
  <node pkg="tf" type="static_transform_publisher" name="radar_baselink_lx" args="0 0.35 0.4 1.57 0 0 /diff_robot_base_link /diff_robot_ti_mmwave_LX 100">
    <remap from="radar_baselink_lx" to="diff_robot/radar_baselink_lx"/>
  </node>
</launch>
